<div>
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/writing">Write Post</a></li>
        <li><a href="http://localhost:3000/login">Log in</a></li>
    </ul>
</div>
{{isLogged}}
<div>
    <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/writing">Write Post</a></li>
        <li><a href="http://localhost:3000/logout">Log Out</a></li>
    </ul>
    Username: <b>{{username}}</b>
</div>