<div>
    <h1>Log In Page</h1>
    <div class="loginForm">
        <h2>Log In Form</h2>
        <form method="post">
            <label>user: </label>
            <input name="username" id="inputUsername" type="text">
            <br>
            <label>password: </label>
            <input name="password" id="inputPassword" type="password">
            <br>
            <button type="button" onclick="login_submit()">submit</button>
        </form>
        <div id="requestStatus"></div>
    </div>
</div>
<script>
    const login_submit = () => {
        // Get Value From Login Form
        const input_username = document.querySelector("#inputUsername").value;
        const input_password = document.querySelector("#inputPassword").value;

        if(input_username == "" || input_password == ""){ 
            return;
        } else {
            let requestData = {
                "action": "requestLogin",
                "username": input_username,
                "password": input_password
            };
            // Preparing Requesting Data
            requestData = JSON.stringify(requestData);
            // Connect to Authentication API 
            fetch('api/authentication.js', {
                method: 'POST',
                body: requestData
            })
            .then((response) => response.text())
            .then((data) => {
                let statusText = document.querySelector("#requestStatus");
                if(data=="success"){
                    statusText.innerHTML = "<span style='color: green'>Log In Success!</span>";
                    document.querySelector("#inputUsername").value = '';
                    document.querySelector("#inputPassword").value = '';
                    setTimeout(() => {
                        window.location = "http://localhost:3000/";
                    }, "100")
                } else
                if(data=="failed"){
                    statusText.innerHTML = "<span style='color: red'>Wrong Username or Password</span>";
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        } 
    }
</script>